[build]
  base = "/"
  command = "./scripts/build.sh"
  publish = "./public"
  ignore = "git diff --quiet HEAD^ HEAD ."

[context.production.environment]
  HUGO_VERSION = "0.91.0"
  LOOP = "false"

[context.deploy-preview]
  command = "./scripts/local.sh --preview $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.91.0"
  LOOP = "false"
  HOST = "/"
[context.branch-deploy]
  command = "./scripts/branchdeploy.sh $DEPLOY_PRIME_URL $HEAD"
[context.branch-deploy.environment]
  HUGO_VERSION = "0.91.0"
  LOOP = "false"
  HOST = "/"
[[plugins]]
  package = "@algolia/netlify-plugin-crawler"
    [plugins.inputs]
    branches = ['main','release/*']
    disabled = false
    renderJavaScript = false
    template = "hierarchical"
