.tabs .nav-tabs {
  border-bottom: none;
  padding: 0;
}

.nav-tabs > li {
  margin: 0;
  padding: 0.3em 1em 0.2em;
  font-size: 1em;
  font-weight: bold;
  margin-left: 1em;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
}

.nav-tabs li a {
  text-decoration: none !important;
}

.tabs .tab-content {
  width: 100%;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
}

.nav-tabs li a {
  /* position: relative; */
  color: #232323;
}

.nav-tabs li.active a {
  /* position: relative; */
  color: #bd4147;
}

/* Dark mode support */
.dark-blog .tabs .nav-tabs > li {
  background: #2a2a2a;
  border-color: #444;
}

.dark-blog .tabs .tab-content {
  background: #2a2a2a;
  border-color: #444;
}

.dark-blog .nav-tabs li a {
  color: #e0e0e0;
}

.dark-blog .nav-tabs li.active a {
  color: #ef265a;
}
